



/* ... your existing styles ... */

/* Curly button style */
.btn-curly {
  background: linear-gradient(45deg, #ff9933, #ffcc00);
  color: white;
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.btn2-curly {
  background: linear-gradient(45deg, #161541, #157ac8);
  color: white;
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.btn-curly:hover {
  transform: scale(1.05);
}


/*homr button*/
.btn1-curly {
  background: #FF8811;
  color: white;
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
  font-size: 21px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.btn1-curly:hover {
  transform: scale(1.05);
  background: #FF8811;
}



/* Curly text field style */
.form-control-curly {
  background-color: rgba(236, 236, 236, 0.7);
  border: none;
  border-radius: 20px;
  padding: 10px 45px;
  font-size: 16px;
  color: #3b3b3b;
}

.form-control-curly::placeholder {
  color: #b8b1b1;
}

.form-control-curly:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.7);
  padding: auto;
}




/* style.css */
.full-width {
  width: 50%; /* This will make the table take up 100% of its parent container's width */
}









.form-container {
  padding: 20px;
}

.data-table {
  border-collapse: collapse;
  width: 100%;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.data-table th {
  background-color: #f2f2f2;
}

.data-table tr:nth-child(even) {
  background-color: #f2f2f2;
}




/* edit and cancel button  */

.button-container {
  display: flex;
  gap: 10px;
}

.action-button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.save-button {
  background-color: #4c4caf;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.action-button:hover {
  background-color: #333;
}
