/* HomeA.css */
/* Common styles for all screen sizes */

/* Mobile-specific styles */
@media (max-width: 768px) {

.header-rectangle{
  height: 80px;
}
.logo{
  margin-top: -70px;
  margin-left: -120px;
}
.logoutbtn{
  padding: 8px 15px;
  font-size: 10px;
  text-align: center;
  margin-right: -25px;
  margin-top: -10px;
}
    .nav-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px; /* Add spacing at the top */
      
    }
  
    .reservationbtn {
      background: #FF8811; /* Button background color */
      color: #000000; /* Text color */
      text-decoration: none;
      padding: 10px 30px; /* Adjust padding as needed */
      margin: 10px;
      margin-left: -25px;
      border-radius: 15px;
      font-size: 16px;
      transition: background 0.3s, color 0.3s;
      cursor: pointer;
      text-align: center;
      max-width: 200px; /* Limit button width */
    }

    .reservationbtn:hover {
      background: #FF8811; /* Button background color on hover */
      color: #fff; /* Text color on hover */    }
  }
  