.form-container2 {
  display: flex;
  flex-direction: column; /* Arrange boxes vertically */
  gap: 20px; /* Add spacing between boxes */
}

  /* notification tile */
  .record-box1 {
    background-color: #ffffff;
    border: 0.01px solid #dfdfdf;
    border-radius: 20px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 20px; /* Add padding inside the boxes */
  }
  .record-box1:hover {
    background-color: #d0d4fc;
    transform: scale(1.01); /* Add a scaling effect on hover */
     transition: transform 0.5s ease; /* Add a separate transition for transform */
  }

  
  /* notification tile details */
  .applicant-name {
    font-size: 18px;
    color: #002147;
    font-weight: bold;
  }
  .requested-date1 {
    font-size: 15px;
    color: #be4900;
    font-weight: bold;
  }
  .description {
    font-size: 14px;
    margin-top: 15px; /* Add margin-top to separate from the header */
    font-weight: bold;
    color: #002147;
  }
  
  
  /* notification tile status */
  .reject-confirm-box {
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .reject-confirm-box input {
    width: 100px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 10px;
  }