
  /*-----------notification background-----------*/
.notification-panel4 {
    text-align: left;
    font-family: Arial, sans-serif;
    border-radius: 15px;
    height: 550px;
    width: 1445px;
    margin-right: 20px;
    margin-top: 27px;
    margin-left: 22px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    
  }
  .notification-panel4:hover{
    transition: transform 0.2s ease; /* Add a separate transition for transform */
    transform: scale(1.01); /* Add a scaling effect on hover */
    background-color: #ffffff;
  } 

