/* Mobile-specific styles */

.main-container {
  display: flex;
  flex-direction: row; /* Keep the default row direction */
  align-items: flex-start;
  margin-top: 20px; /* Add spacing at the top */
}

.button-panel {
  padding: 10px;
  width: 20%; /* Adjust the width of the button panel as needed */
  box-sizing: border-box; /* Include padding in width */
}

.button-panel button {

  text-decoration: none;
  text-align: center;
  background: #FF8811; /* Button background color */
  color: #000000; /* Text color */
  border: none;
  width: 200px; /* Fixed width for all buttons */
  height: 75px; /* Fixed height for all buttons */
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  margin: 8px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  /* Center text vertically */
  align-items: center;
  justify-content: center;
  font-weight: 550;
  font-size: 16px;}

.button-panel button:hover {
  background: #FF8811; /* Button background color on hover */
  color: #fff; /* Text color on hover */
  transform: translateY(-5px);}

/* Map panel */
.map-panel {
  width: 80%; /* Adjust the width of the map panel as needed */
  overflow: auto;
}

/*-----------notification background-----------*/
.map-panel {
  text-align: left;
  font-family: Arial, sans-serif;
  border-radius: 15px;
  height: 550px;
  width: 100%; /* Occupy full width */
  margin-top: 20px; /* Add spacing at the top */
  margin-left: 20px; 
  margin-right: 20px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.notification-panel4:hover {
  transition: transform 0.2s ease; /* Add a separate transition for transform */
  transform: scale(1.01); /* Add a scaling effect on hover */
  background-color: #ffffff;
}
